@(familyDetail : FamilyDetail, familyMember : List[MemberDetail])
<!DOCTYPE html>
<html lang="en">
<head>
    <title>New Life Baptist Church</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<h1>@familyDetail.getName()</h1>
<img src="/familypicture/@familyDetail.getFamilyId" width="50"><br>
<form method="POST" enctype="multipart/form-data">
    <input type="file" id="filename" name="filename">

    @for(family <- familyMember) {
    <label>@family.getName()</label>
    <label>@family.getBirthday()</label><br>
    }
    <label>@familyDetail.getAddress()</label><br>
    <label><strong>Phone Number:  </strong>@familyDetail.getPhoneNumber()</label><br>
    <label><strong>Email:  </strong> @familyDetail.getEmail()</label><br>
    <button type="submit">SAVE</button>
</form>
</body>
</html>
