<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
body {
    background: #EDC9AF no-repeat fixed center;
}
</style>
<body>
<div class="container">
    <br><br>
    <div class="row">
        <div class="col-sm-3">
            <img src="/assets/images/Bro John.jpg" height="200">
        </div>
        <div class="col-sm-3">
            <img src="/assets/images/Bro Sid.jpg" height="200">
        </div>
        <div class="col-sm-3">
            <img src="/assets/images/Bro Kody.jpg" height="200">
        </div>
        <div class="col-sm-3">
            <img src="/assets/images/Becky.jpg" height="200">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <br><label>John Venable</label><br>
            <label>Lead Pastor</label>
        </div>
        <div class="col-xs-3">
             <br><label>Sid Sample</label><br>
             <label>Senior Pastor</label>
        </div>
        <div class="col-xs-3">
            <br><label>Kody Prothro</label><br>
            <label>Youth Pastor</label>
        </div>
        <div class="col-xs-3">
            <br><label>Becky Raines</label><br>
            <label>Pianist</label>
        </div>
    </div>
</div>
<div class="container">
    <br><br>
    <div class="row">
        <div class="col-sm-4">
            <img src="/assets/images/carrie.jpg" height="200">
        </div>
        <div class="col-sm-4">
            <img src="/assets/images/reese.jpg" height="200">
        </div>
        <div class="col-sm-4">
            <img src="/assets/images/lindsey.jpg" height="200">
        </div>

    </div>

    <div class="row">
        <div class="col-sm-4">
            <br><label>Sarah Campbell</label><br>
            <label>Secretary</label>
        </div>
        <div class="col-xs-4">
            <br><label>Amanda Smith</label><br>
            <label>Custodian</label>
        </div>
        <div class="col-xs-4">
            <br><label>Lindsey Harrison</label><br>
            <label>Christian Education</label>
        </div>

    </div>
</div>

</body>
</html>